@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600&family=Inter:wght@300;400;500;600&display=swap');

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #05070C;
  color: #F5F5F5;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.font-editorial {
  font-family: "Cormorant Garamond", serif;
}